.todo {
    &__input {
        width: 100%;
    }

    &-header {
        text-align: center;
    }

    &-title {
        font-size: 20px;
        text-align: center;
    }
}

.todo-list {
    &__wrapper {
        border: 1px solid red;
        margin: 10px 0;
        padding: 5px;

        &.completed {
            border-color: green;
        }
    }
}

.todo-item {
    &__wrapper {
        border: 1px solid black;
        border-radius: 15px;
        padding: 10px;
        margin: 5px;
    }

    &__text {
        font-size: 14px;
        margin: 0;
    }

    &__action {
        text-align: right;
    }

    span {
        margin: 0 4px;

        &:hover {
            cursor: pointer;
        }
    }
}

.todo-action {
    &__wrapper {
        display: inline-block;
        text-align: center;
        margin: 10px auto;
        width: 100%;
    }

    &__add {
        clear: left;
        margin: 0 auto;
        float: none;
    }

    &__item {
        display: inline-block;
        margin: 0 5px;
        width: 85px;
    }
}

